doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title Document
  body 
    #main 
      aside 
        span.title Add
        ul#add-elements-link          
          li
            a#add-page Page
          li
            a#add-background Background 
          li
            a Object
          li
            a Baloon
          li
            a Divider

        span.title Export as
        ul#export-links        
          li
            a#export Print
          li
            a#export Image

      #editor 
        .editor-container#editor-1
          span.editor-label Page 1
          .add-content.add-content-1 
            a.add-elements Add content

      #modal
        ul 
          li 
            input(type="file" accept="image/*" name="image" class="ipt-right-aside" id="ipt-add-background")
            label(for="ipt-add-background" style="cursor: pointer;") Upload Background

          li
            input(type="file" accept="image/*" name="image" class="ipt-right-aside" id="ipt-add-object")
            label(for="ipt-add-object" style="cursor: pointer;") Upload Object

          li   
        
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js")
  script(type="module" src="./js/script.js" defer)