doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    title Cartoon Creator
  body 
    #main 
      aside.left 
        span.category-title Add
        ul#add-elements-link          
          li
            a#add-page Page

        span.category-title Export as
        ul#export-links        
          li
            a#export Print
          //- li
          //-   a#export Image

        span.category-title Editor Settings
        ul#export-links        
          li
            span(class="fas fa-search-plus" title="Page zoom") 
            input(type="number" min="30" max="100" id="page-zoom" value="67")

      
      #editor 
        .editor-container#editor-1
          span.editor-label First Page &mdash; Welcome
          .add-content.add-content-1 
            a.add-elements Add content

      aside#modal
        span.category-title Cartoon Settings
        ul 
          li 
            input(type="file" accept="image/*" name="image" class="ipt-right-aside" id="ipt-add-background")
            label(for="ipt-add-background" style="cursor: pointer;") 
              span(class="fas fa-image") 
              span(class="link-label") Insert Background

          li
            input(type="file" accept="image/*" name="image" class="ipt-right-aside" id="ipt-add-object")
            label(for="ipt-add-object" style="cursor: pointer;") 
              span(class="fas fa-skiing") 
              span(class="link-label") Insert Object

          li
            a(id="add-ballon") 
              span(class="fas fa-comment-dots") 
              span(class="link-label") Add Ballon
        
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(type="module" src="./js/script.js" defer)