@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --accent-color: #e84f4f;
}

body {
  background: #eee url(./assets/background-tiles.png) fixed;
  background-size: 200px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

body img {
  max-width: 100%;
}

body a {
  cursor: pointer;
}

body .ui-widget-content {
  cursor: move;
}

body #main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

body #main aside {
  position: fixed;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #222;
  padding: 2%;
  height: 100%;
  width: 20vw;
  overflow-y: auto;
  font-weight: 500;
}

body #main aside span.category-title {
  color: #888;
  display: block;
  margin: 20px 0 8px 0;
  font-weight: 500;
}

body #main aside span.category-title:first-child {
  margin: 0px 0 8px 0;
}

body #main aside ul {
  width: calc(100% - 0px);
}

body #main aside ul li {
  list-style: none;
}

body #main aside ul li a {
  background: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}

body #main #editor {
  margin-left: 20%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

body #main #editor .editor-container {
  background: #fff;
  -webkit-box-shadow: 0 5px 5px #dfdfdf;
          box-shadow: 0 5px 5px #dfdfdf;
  width: 50vw;
  height: 71vw;
  margin: 60px auto;
  padding: 3% calc(3% - 20px) 3% 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #main #editor .editor-container span.editor-label {
  position: absolute;
  margin: -25px 0 0 0;
  left: 0;
  top: 0;
  font-style: italic;
}

body #main #editor .editor-container .add-content {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body #main #editor .editor-container .add-content a.add-elements {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  background: var(--accent-color);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  font-size: 30px;
}

body #main #editor .editor-container #comic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body #main #editor .editor-container #comic .comic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 35%;
  max-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #main #editor .editor-container #comic .comic-container .box {
  border: 1px solid #eee;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  overflow: hidden;
  margin: 0 20px 20px 0;
  width: calc( 100% / 3);
}

body #main #editor .editor-container #comic .comic-container .box .object-editable {
  position: relative;
}

body #main #editor .editor-container #comic .comic-container .box .object-editable a.object-options {
  position: absolute;
  top: 0;
  left: 0;
  margin: -25px 0 0 0;
  display: none;
  background: red;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 3px 8px;
  border-radius: 3px;
}

body #main #editor .editor-container #comic .comic-container .box .ballon {
  border: 2px solid #222;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  max-width: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #main #editor .editor-container #comic .comic-container .box .ballon .ballon-textarea {
  border: none;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  resize: none;
  overflow-y: hidden;
}

body #main #editor .editor-container #comic .comic-container .box .ballon .ballon-textarea:focus {
  resize: vertical;
  overflow-y: auto;
}

body #main #editor .editor-container #comic .comic-container .box .ballon:hover .ballon-textarea {
  resize: vertical;
  overflow-y: auto;
}

body #main #editor .editor-container #comic .comic-container .box .ballon-triangle {
  position: absolute;
  background: red;
  bottom: 0px;
  left: 50%;
  margin: 0 0 1px -10px;
}

body #main #editor .editor-container #comic .comic-container .box .ballon-triangle:before,
body #main #editor .editor-container #comic .comic-container .box .ballon-triangle:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

body #main #editor .editor-container #comic .comic-container .box .ballon-triangle:before {
  border-width: 16px 10px 0 10px;
  border-color: #222 transparent transparent transparent;
}

body #main #editor .editor-container #comic .comic-container .box .ballon-triangle:after {
  border-width: 14px 8px 0 8px;
  border-color: #fff transparent transparent transparent;
  margin: 0 0 0 2px;
}

body #main #editor .editor-container #comic .comic-container .box img {
  max-height: 100%;
}

body #main #editor .editor-container #comic .comic-container .box .box-image {
  position: absolute;
  max-width: 25%;
}

body #main #editor .editor-container #comic .comic-container .box:hover a.object-options {
  display: inline-block;
}

body #main #editor .editor-container #comic .comic-container .editing {
  -webkit-box-shadow: 0 5px 5px #cccccc;
          box-shadow: 0 5px 5px #cccccc;
}

body #main #editor #initial-editor {
  margin: 50px auto 60px auto;
}

body #main #modal {
  position: fixed;
  right: 0;
  top: 0;
  background: #222;
  height: 100%;
  width: 20vw;
  display: none;
  padding: 2%;
}

body #main #modal ul {
  width: 100%;
}

body #main #modal ul li {
  list-style: none;
  display: block;
  font-weight: 500;
  font-size: 12px;
}

body #main #modal ul li a,
body #main #modal ul li label {
  color: #222;
  display: block;
  padding: 15px;
  background: #fff;
  margin-bottom: 5px;
  border-radius: 3px;
}

body #main #modal ul li a .fas,
body #main #modal ul li label .fas {
  margin-right: 10px;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

body #main #modal .modal-box {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  text-align: justify;
  border-radius: 5px;
  position: relative;
}

body #main #modal a.close-button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0px 0 0 0;
  z-index: 9;
}

body #main #modal .ipt-right-aside {
  display: none;
}

body #main .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */