*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background: #eee
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

  img
    max-width: 100%

  a
    cursor: pointer

  #main
    display: flex
    min-height: 100vh

    aside
      position: fixed
      flex: 1
      background: #222
      padding: 2%
      height: 100%
      width: 20%
      overflow-y: auto

      span.title
        color: #888
        display: block
        margin: 30px 0 8px 0

      span.title:first-child
        margin: 0px 0 8px 0

      ul
        width: calc(100% - 0px)
        overflow: hidden
        border-radius: 0 0 10px 10px

        li
          display: inline-flex
          width: calc(50% - 3px)
          margin: 3px 3px 0 0
          overflow: hidden

          a
            background: #fff
            display: inline-flex
            width: 100%
            justify-content: center
            align-items: center
            padding: 10px

        li:nth-child(1)
          border-radius: 10px 0 0 0

        li:nth-child(2)
          border-radius: 0 10px 0 0

        li:nth-child(even)
          margin: 3px 0 0 0

    #editor
      margin-left: 20%
      flex: 3

      .editor-container
        background: #fff
        box-shadow: 0 5px 5px #dfdfdf
        width: 85%
        height: 125%
        margin: 60px auto
        padding: 5%
        justify-content: center
        position: relative
        display: flex

        span.editor-label
          position: absolute
          margin: -25px 0 0 0
          left: 0
          top: 0
          font-style: italic

        .add-content
          height: 100%
          width: 80%
          display: flex
          align-items: center
          text-align: center

          a.add-elements
            margin: 0 auto
            width: 50%
            height: 50%
            background: blue
            display: flex
            align-items: center
            justify-content: center
            border-radius: 10px

        #comic
          display: flex
          flex-direction: column
          width: 100%

          .comic-container
            display: flex
            align-items: stretch
            height: 35%
            max-height: 100%
            justify-content: center

            .box
              border: 2px solid #eee
              flex-basis: 100%
              //flex-grow: 1
              overflow: hidden
              margin: 0 10px 10px 0
              width: calc( 100% / 3)

              img
                max-height: 100%

              .box-image
                position: absolute
                max-width: 25%

            .editing
              background: red

      #initial-editor
        margin: 50px auto 60px auto

    #modal
      position: fixed
      right: 0
      top: 0
      background: #fff
      height: 100%
      width: 20%
      display: none
      padding: 2%

      ul
        li
          list-style: none
          display: block

      .modal-box
        max-width: 800px
        background: #fff
        padding: 30px
        text-align: justify
        border-radius: 5px
        position: relative

      a.close-button
        position: absolute
        left: 0
        top: 0
        margin: 0px 0 0 0
        z-index: 9

      .ipt-right-aside
        display: none

    .active
      display: flex
